extends layout

//- block header
//-   h3 Header block overwrite

block content
  p Sale ends in #{helpers.moment().endOf('week').fromNow()}
  .wrapper
    - const upDog = dog.toUpperCase();
    p.hello Hello my dog's name is #{upDog}
    span#no YO
    img.dog(src='dog.jpg' alt=`Dog ${dog}`)

  h2
    | Hello
    br
    em
      | How r u?