extends layout

block header
  h3 Header block overwrite

block content
  .wrapper
    - const upDog = dog.toUpperCase();
    p.hello Hello my dog's name is #{upDog}
    span#no YO
    img.dog(src='dog.jpg' alt=`Dog ${dog}`)

  h2
    | Hello
    br
    em
      | How r u?